@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$primary-color: #3E435F;

main{
   
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.8), 
        rgba(0, 0, 0, 0.8)
      ), url(../../img/buildings-1867550_1920.jpg);
    position: relative;
    width: 100%;
    min-height: 100vh;

    nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 10vh;
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.8), 
            rgba(0, 0, 0, 0.8)
        );

        .logo{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-items: center;
            

            .airbnb-svg{
                width: 60px;
                height: 60px;
                display: inline-block;
            }
            h2{
                color:#fff;
                font-size: 30px;
                display: inline-block;
                font-family: 'Poppins', sans-serif;
            }
        }

        ul{
            min-width: 50%;
            // background-color: rebeccapurple;
            display: flex;
            justify-content: space-between;
            font-family: 'Roboto', sans-serif;
            

            li{
                list-style-type: none;
                padding: 22px 10px;

                a{
                    color: #fff;
                    text-decoration: none;
                    letter-spacing: 3px;
                    font-weight: 500;
                    font-size: 20px;
                    font-weight: 400;
                }
               
            }
        }

        .settings-menu{
            display: flex;
            min-width: 220px;
            justify-content: space-between;

            .language{
                display: flex;
                align-items: center;
                width: 70px;
                justify-content: space-evenly;
                cursor: pointer;
    
                .global{
                    width: 30px;
                    height: 30px;
                }
                .arrow{
                    width: 15px;
                    height: 15px;
                }
            }
    
            .menu{
                display: flex;
                justify-content: space-around;
                align-items: center;
                background-color: $primary-color;
                padding: 10px 10px;
                border-radius: 40px;
                width: 120px;
    
                .ham-menu{
                    width: 30px;
                    height: 25px;
                    align-self: center;
                    cursor: pointer;
                }
                .profile{
                    width: 40px;
                    height: 40px;
                    cursor: pointer;
                }
            }
        }

        
    }

    .search{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        max-width: 120vh;
        padding: 10px 30px;
        background-color: $primary-color;
        margin:70px auto;
        border-radius: 50px;

        .inputs{
            // background-color: red;
            display: inline-block;
            align-self: center;
            color:#fff;
            font-family: 'Roboto', sans-serif;
            border-right: 1px solid rgba(255, 255, 255, 0.164);

            h3{
                font-weight: 400;
                font-size: 22px;
            }

            input{
                background: transparent;
                outline: none;
                border:none;
                color: #fff;
                

                &::placeholder{
                    color:rgba(255, 255, 255, 0.274); 
                    font-size: 15px;
                }
            }
        }
        #loop{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 65px;
            height: 65px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.527);
            cursor: pointer;

            img{
                width: 25px;
                height: 25px;
            }
        }
    }

    .explore-section{
        width: 120vh;
        // height: 35vh;
        // border: 1px solid white;  
        margin: 180px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .text-field{
            width: 35%;
            height: 100%;
            color:#fff;
            font-family: 'Roboto', sans-serif;

            h1{
                color:#fff;
                font-size: 45px;
                margin-bottom: 30px;
                margin-top: 20px;
            }
            p{
                font-size: 25px;
                font-weight: 400;
                margin-bottom: 45px;
            }
            button{
                padding: 20px 60px;
                font-size: 20px;
                border-radius: 10px;
                outline: none;
                border: none;
                color:#fff;
                background-color: $primary-color;
            }
        }
        .pic-field{
            width: 55%;
            background-image: url(../../img/19Z_2102.w026.n002.208B.p1.208.jpg);
            background-size: cover;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }
}

@media only screen and (max-width: 1590px){
    main{

        nav{
            justify-content: space-between;

            .logo{
                margin-left: 10px;
            }
            .settings-menu{
                margin-right: 10px;
            }
            ul{
                min-width: 800px;
            }
        }
    }
}

@media only screen and (max-width: 1240px){
    main{

        nav{

            ul{
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 1140px){
    main{

        .search{
            flex-direction: column;
        }
        .explore-section{
            flex-direction: column;
        }
    }
}